*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/caches
.DS_Store
/build
/captures
/projectFilesBackup
/import-summary.txt
/.project
/app/release
/app/debug
/.idea/jarRepositories.xml
