<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gDyejeekis.aliencompanion">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <receiver android:name=".broadcast_receivers.OnBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".broadcast_receivers.ConnectivityChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".broadcast_receivers.SyncStateReceiver">
            <intent-filter>
                <action android:name="com.gDyejeekis.aliencompanion.SYNC_CANCEL" />
                <action android:name="com.gDyejeekis.aliencompanion.SYNC_PAUSE" />
                <action android:name="com.gDyejeekis.aliencompanion.SYNC_RESUME" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activities.SplashActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/MainActivityTheme"/>
        <activity
            android:name=".activities.PostActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_post"/>
        <activity
            android:name=".activities.BrowserActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_browser"/>
        <activity
            android:name=".activities.UserActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_user"/>
        <activity
            android:name=".activities.SearchActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_search"/>
        <activity
            android:name=".activities.SettingsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_edit_prefs"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name=".activities.SubredditActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_subreddit"/>
        <activity
            android:name=".activities.SubmitActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_submit_post"/>
        <activity
            android:name=".activities.ArticleActivityExtended"
            android:configChanges="orientation|screenSize"
            android:theme="@style/ArticleTheme"/>

        <service
            android:name=".services.DownloaderService"
            android:enabled="true"/>
        <service
            android:name=".services.MessageCheckService"
            android:enabled="true" />
        <service
            android:name=".services.PendingActionsService"
            android:enabled="true" />

        <activity
            android:name=".activities.MessageActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_message"/>
        <activity
            android:name=".activities.OAuthActivity"
            android:configChanges="orientation|screenSize"
            android:label="OAuthActivity"/>
        <activity
            android:name=".activities.EditSubredditsActivity"
            android:configChanges="orientation|screenSize"
            android:label="My subreddits"/>
        <activity
            android:name=".activities.EditMultisActivity"
            android:configChanges="orientation|screenSize"
            android:label="My multireddits"/>
        <activity
            android:name=".activities.SyncProfilesActivity"
            android:configChanges="orientation|screenSize"
            android:label="Sync profiles"/>
        <activity
            android:name=".activities.PendingUserActionsActivity"
            android:configChanges="orientation|screenSize"
            android:label="Pending actions"/>
        <activity
            android:name=".activities.MediaActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.Transparent"/>
        <activity
            android:name=".activities.SyncQueueActivity"
            android:configChanges="orientation|screenSize"
            android:label="Sync queue"/>
        <activity
            android:name=".activities.DebugActivity"
            android:configChanges="orientation|screenSize"
            android:label="Debug"/>
        <activity android:name=".activities.HandleUrlActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:host="*reddit.com"
                    android:pathPattern=".*"
                    android:scheme="https"/>
                <data
                    android:host="*reddit.com"
                    android:pathPattern=".*"
                    android:scheme="http"/>
                <data
                    android:host="redd.it"
                    android:pathPattern=".*"
                    android:scheme="https"/>
                <data
                    android:host="redd.it"
                    android:pathPattern=".*"
                    android:scheme="http"/>
                <!--<data android:host="*" android:pathPattern=".*" android:scheme="https"/>-->
            </intent-filter>
        </activity>
    </application>

</manifest>