<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gDyejeekis.aliencompanion" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!--<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".MyApplication">
        <activity
            android:name="com.gDyejeekis.aliencompanion.Activities.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/MainActivityTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.gDyejeekis.aliencompanion.Activities.PostActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_post" >
        </activity>
        <activity
            android:name="com.gDyejeekis.aliencompanion.Activities.BrowserActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_browser" >
        </activity>
        <activity
            android:name="com.gDyejeekis.aliencompanion.Activities.UserActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_user" >
        </activity>
        <activity
            android:name="com.gDyejeekis.aliencompanion.Activities.SearchActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_search" >
        </activity>
        <activity
            android:name="com.gDyejeekis.aliencompanion.Activities.SettingsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_edit_prefs"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name="com.gDyejeekis.aliencompanion.Activities.SubredditActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_subreddit" >
        </activity>
        <activity
            android:name="com.gDyejeekis.aliencompanion.Activities.SubmitActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_submit_post" >
        </activity>

        <service
            android:name="com.gDyejeekis.aliencompanion.Services.DownloaderService"
            android:enabled="true" >
        </service>

        <activity
            android:name="com.gDyejeekis.aliencompanion.Activities.MessageActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_message" >
        </activity>
        <activity
            android:name="com.gDyejeekis.aliencompanion.Activities.OAuthActivity"
            android:configChanges="orientation|screenSize"
            android:label="OAuthActivity" >
        </activity>
        <activity
            android:name="com.gDyejeekis.aliencompanion.Activities.EditSubredditsActivity"
            android:configChanges="orientation|screenSize"
            android:label="My subreddits" >
        </activity>
        <activity
            android:name="com.gDyejeekis.aliencompanion.Activities.EditMultisActivity"
            android:configChanges="orientation|screenSize"
            android:label="My multireddits" >
        </activity>
        <activity
            android:name=".Activities.SyncProfilesActivity"
            android:configChanges="orientation|screenSize"
            android:label="Sync profiles" >
        </activity>
        <activity
            android:name=".Activities.ImageActivity"
            android:theme="@style/Theme.Transparent"
            android:configChanges="orientation|screenSize">
        </activity>
    </application>

</manifest>
